// Import variables and mixins if needed
@import "../variables";
@import "../mixins";

.about-me-hero-title {
  display: block;
}

.about-me-hero-content {
  flex-direction: column;
  align-items: center;
  max-width: 540px;
  @include respond-to(sm) {
    max-width: 720px;
  }

  @include respond-to(md) {
    max-width: 900px;
  }

  @include respond-to(lg) {
    max-width: 1200px;
  }

  @include respond-to(xxl) {
    max-width: 1980px;
  }

  @include respond-to(lg) {
    flex-direction: row;
  }
  gap: 3rem;
  display: flex;
  align-items: left;
}

.mobile {
  @include respond-to(lg) {
    display: none;
  }
}

.desktop {
  display: none;
  @include respond-to(lg) {
    display: block;
  }
}

.about-me-img {
  @include respond-to(sm) {
    max-width: 360px;
  }

  @include respond-to(lg) {
    max-width: 480px;
  }

  transition: filter 0.6s ease;

  //add style on hover
  &:hover {
    filter: drop-shadow(0 0 0.75rem crimson);
  }

  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin-bottom: 2rem;

  @include respond-to(lg) {
    width: 50vw;
    margin-bottom: 0;
  }
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid lightcoral; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

.typewriter {
  margin-bottom: 6rem;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: lightcoral;
  }
}

.hero-content-subsection {
  margin-bottom: 2rem;
}

//socials
.socials-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  margin-top: 6rem;
}

ul {
  list-style: none;
}

.example-2 {
  gap: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 48px;
  height: 48px;
}
.example-2 .icon-content a:hover {
  color: white;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
  background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"] ~ .tooltip {
  background-color: #24262a;
}
.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}
.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
  background-color: #ff0000;
}
