// Import variables and mixins if needed
@import '../variables';
@import '../mixins';

/* Basic reset and box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about-me-hero-title {
  display: block;
}

.about-me-hero-content {
  display: flex;
  align-items: center;
  /* breakpoint */
  max-width: 1200px;
}