@import "../variables";
@import "../mixins";

/* Variables for material design */
$card-bg: #fff;
$card-border-radius: 8px;
$card-shadow: 0 12px 30px rgba(0, 0, 0, 0.4);
$card-shadow-hover: 0 24px 60px rgba(0, 0, 0, 0.7);
$padding: 20px;
$font-color: #333;
$icon-color: #e8eaed;
$icon-hover-color: #ffffff;

body,
h3 {
  margin: 0;
  padding: 0;
  font-family: $font-family;
}

.image-gallery {
  @include respond-to(lg) {
    margin-left: 4rem;
  }

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.image-container {
  padding: $padding;
  box-sizing: border-box;

  @include respond-to(sm) {
    &:nth-child(1),
    &:nth-child(2) {
      flex: 1 1 calc(50% - #{$padding * 2});
    }

    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      flex: 1 1 calc(33% - #{$padding * 2});
    }

    &:nth-child(6),
    &:nth-child(7) {
      flex: 1 1 calc(50% - #{$padding * 2});
    }

    &:nth-child(8),
    &:nth-child(9) {
      flex: 1 1 calc(33% - #{$padding * 2});
    }

    &:nth-child(10),
    &:nth-child(11),
    &:nth-child(12) {
      flex: 1 1 calc(50% - #{$padding * 2});
    }
  }

  @include respond-to(lg) {
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      flex: 1 1 calc(20% - #{$padding * 2});
    }

    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(8),
    &:nth-child(9) {
      flex: 1 1 calc(25% - #{$padding * 2});
    }

    &:nth-child(10),
    &:nth-child(11),
    &:nth-child(12) {
      flex: 1 1 calc(33% - #{$padding * 2});
    }
  }
}

.title-section {
  width: 100%;
  @include respond-to(lg) {
    margin: 4rem 8rem 0rem 16rem;
  }
  display: flex;
  flex-direction: column;
  padding: $padding;
  box-sizing: border-box;
}

.title {
  text-decoration: underline;
  font-weight: 500;
  margin-bottom: 2rem;
}

.subtitle {
  font-weight: 300;
  margin-bottom: 4rem;
}

.figure {
  background: $card-bg;
  border-radius: $card-border-radius;
  box-shadow: $card-shadow;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out;
  text-align: center;

  &:hover {
    box-shadow: $card-shadow-hover;
  }

  .image {
    width: 100%;
    height: auto;
    display: block;
  }

  .figcaption {
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background: $card-bg;

    .category {
      font-size: 1.25em;
      font-weight: 500;
      color: $font-color;
    }

    .download-button {
      color: black;
      text-decoration: none;
      align-items: center;
      display: flex;
      flex-direction: column;
      background: none;
      border: none;
      padding: 0.5rem;
      cursor: pointer;
      outline: 2px solid transparent;
      transition: outline 0.3s ease-in-out;

      &:hover {
        outline: 2px solid black;
        cursor: pointer;
      }

      .download-icon {
        width: 24px;
        height: 24px;
        fill: black;
        transition: fill 0.3s ease-in-out;
      }
    }
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;

  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
  }

  .close {
    padding: 6px 24px;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    right: 5%;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
    border: none;
    background: transparent;
  }

  .close:hover {
    transform: scale(1.2);
    color: #ff5252;
    background-color: rgba(255, 255, 255, 0.2);
  }

  .prev,
  .next {
    height: unset;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    background-color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .prev {
    @include respond-to(xl) {
      left: -25%;
    }
    left: -80%;
    border-radius: 3px 0 0 3px;
  }

  .next {
    @include respond-to(xl) {
      right: -25%;
    }
    right: -80%;
    border-radius: 0 3px 3px 0;
  }

  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
  }

  .slide {
    display: none;

    &.active {
      display: block;
    }

    .image {
      @include respond-to(xl) {
        width: 50vw;
      }

      width: 33vw;
      height: auto;
      display: block;
    }
  }
}
