// Import variables and mixins if needed
@import '../variables';
@import '../mixins';

/* Basic reset and box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image-gallery-container {
  /* background: url("../img/background.jpg") center/cover no-repeat; */
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  grid-template-areas:
    "header"
    "hero"
    "socials"
    "footer";
}

.image-gallery {
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  gap: spacing-function(1);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.image-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.image {
  width: 400px;
  height: 400px;
}

// Example of using variables and mixins for padding in .image-gallery-container
.image-gallery-container {
  padding-top: spacing-constant(16); // Assuming 16 is defined in your spacing strategy

  @include respond-to(sm) {
    padding-top: spacing-constant(20); // Adjusted value for small screens
  }
}