/* Variables for material design */
$card-bg: #fff;
$card-border-radius: 8px;
$card-shadow: 0 16px 30px rgba(0, 0, 0, 0.1);
$card-shadow-hover: 0 32px 90px rgba(0, 0, 0, 0.2);
$padding: 20px;
$font-family: "Roboto", sans-serif;
$font-color: #333;

.image-gallery {
  margin-left: auto;
  margin-right: auto;
  column-count: 3; // Number of columns
  column-gap: 16px; // Gap between columns
}

.image-container {
  break-inside: avoid;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $padding;
  box-sizing: border-box;
}

.figure {
  background: $card-bg;
  border-radius: $card-border-radius;
  box-shadow: $card-shadow;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out;
  max-width: 600px;
  text-align: center;

  &:hover {
    box-shadow: $card-shadow-hover;
  }

  .image {
    width: 100%;
    height: auto;
    display: block;
  }

  .figcaption {
    padding: 16px;
    background: $card-bg;

    .category {
      font-size: 1.25em;
      font-weight: 500;
      color: $font-color;
    }
  }
}

.image {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  position: relative;
}

.close {
  padding: 6px 24px;
  border-radius: 50%; // Round the background
  position: absolute;
  top: 5%;
  right: 5%;
  color: #fff;
  font-size: 40px; // Increased size
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s; // Transition for smooth effect
  border: none;
  background: transparent;
}

.close:hover {
  transform: scale(1.2); // Scale up the button
  color: #ff5252; // Change color to Material UI red
  background-color: rgba(255, 255, 255, 0.2); // Slight background change
  border-radius: 50%; // Round the background
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  display: none;
}

.slide.active {
  display: block;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  color: black;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}

.prev {
  left: -25%;
}

.next {
  right: -25%;
}

.prev:hover,
.next:hover {
  background-color: #ddd;
}
