@import "variables";
@import "mixins";

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

//body styles
body {
  font-family: $font-primary;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-text-primary;
  background-color: $color-background-default;


  @include respond-to(sm) {
    max-width: none;
  }

  @include respond-to(md) {
    max-width: 1200px;
  }

  @include respond-to(lg) {
    max-width: 1536px;
  }

  @include respond-to(xl) {
    // max-width for xl and xxl not needed
    max-width: unset;
  }
}


h1 {
  @include respond-to(sm) {
    font-size: 3.5rem;
  }


  @include respond-to(lg) {
    font-size: 4rem;
  }

  @include respond-to(xl) {
    font-size: 4.5rem;
  }

  line-height: $line-height-lg;
  font-weight: 700;
}

h2 {
  @include respond-to(sm) {
    font-size: 2.5rem;
  }

  @include respond-to(xl) {
    font-size: 3.5rem;
  }

  @include respond-to(xxl) {
    font-size: 4rem;
  }

  line-height: $line-height-lg;
  font-weight: 300;
  text-transform: uppercase;
}

h3 {
  @include respond-to(sm) {
    font-size: 2.25rem;
  }

  @include respond-to(md) {
    font-size: 2.5rem;
  }


  @include respond-to(xl) {
    font-size: 3rem;
  }

  @include respond-to(xxl) {
    font-size: 3.5rem;
  }

  line-height: $line-height-md;
  font-weight: 300;
  text-transform: uppercase;
}

p {
  @include respond-to(sm) {
    font-size: 1rem;
  }

  @include respond-to(md) {
    font-size: 1.3rem;
  }

  @include respond-to(xl) {
    font-size: 1.5rem;
  }

  @include respond-to(xxl) {
    font-size: 1.75rem;
  }

  line-height: $line-height-content-block;
  text-transform: uppercase;
}

button {
  min-width: 150px;
  max-width: 150px;

  @include respond-to(lg) {
    min-width: 200px;
  }

  border: 2px solid $color-secondary;
  background-color: $color-primary;
  color: white;
  border-radius: 0.9em;
  padding: 0.8em 1.2em 0.8em 1em;
  transition: all ease-in-out 0.2s;
  font-family: $font-primary;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer; // Ensure a pointer cursor for buttons
  transition: 400ms;
  outline: 3px #181717 solid;
  outline-offset: -3px;
  color: white;

  &:hover {
    color: black;
  }


  span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }

  &:hover {
    background-color: transparent;
  }
}