// Global SASS Theme
@import "variables";
@import "mixins";

// Breakpoints
$breakpoint-xs: 0px; // Extra small devices (portrait phones, less than 600px)
$breakpoint-sm: 600px; // Small devices (landscape phones, 600px and up)
$breakpoint-md: 900px; // Medium devices (tablets, 900px and up)
$breakpoint-lg: 1200px; // Large devices (desktops, 1200px and up)
$breakpoint-xl: 1536px; // Extra large devices (large desktops, 1536px and up)

// Typography Styles
h1 {
  font-size: 2.5rem; // 40px
  line-height: $line-height-lg;
  font-weight: 700;
  margin-bottom: spacing-function(2); // 0.5rem
}

h2 {
  font-size: 2.25rem; // 32px
  line-height: $line-height-lg;
  font-weight: 300;
  margin-bottom: spacing-constant(2); // 8px
  text-transform: uppercase;
}

h3 {
  font-size: 1.75rem; // 28px
  line-height: $line-height-md;
  font-weight: 600;
  margin-bottom: spacing-array(2); // 8px
}

h4 {
  font-size: 1.5rem; // 24px
  line-height: $line-height-md;
  font-weight: 600;
  margin-bottom: spacing-constant(1); // 4px
}

h5 {
  font-size: 1.25rem; // 20px
  line-height: $line-height-md;
  font-weight: 500;
  margin-bottom: spacing-function(1); // 0.25rem
}

h6 {
  font-size: 1rem; // 16px
  line-height: $line-height-md;
  font-weight: 500;
  margin-bottom: spacing-array(1); // 4px
}

.subtitle1 {
  font-size: $font-size-lg;
  line-height: $line-height-md;
  font-weight: 400;
  margin-bottom: spacing-constant(1); // 4px
}

.subtitle2 {
  font-size: $font-size-md;
  line-height: $line-height-md;
  font-weight: 400;
  margin-bottom: spacing-function(1); // 0.25rem
}

body1 {
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: 400;
  margin-bottom: spacing-array(2); // 8px
}

body2 {
  font-size: $font-size-sm;
  line-height: $line-height-base;
  font-weight: 400;
  margin-bottom: spacing-array(1); // 4px
}

button {
  min-width: 140px;
  border: 2px solid $color-secondary;
  background-color: $color-primary;
  color: white;
  border-radius: 0.9em;
  padding: 0.8em 1.2em 0.8em 1em;
  transition: all ease-in-out 0.2s;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer; // Ensure a pointer cursor for buttons
  transition: 400ms;
  outline: 3px #181717 solid;
  outline-offset: -3px;
  color: white;
  &:hover {
    color: black;
  }


  span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }

  &:hover {
    background-color: transparent;
  }
}

.caption {
  font-size: $font-size-xs;
  line-height: $line-height-xs;
  font-weight: 400;
  color: $color-primary-dark;
  margin-bottom: spacing-constant(1); // 4px
}

.overline {
  font-size: $font-size-xs;
  line-height: $line-height-xs;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-primary;
  margin-bottom: spacing-function(1); // 0.25rem
}

// Example Usage
body {
  font-family: $font-primary;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-text-primary;
  background-color: $color-background-default;
}

p {
  margin-bottom: spacing-constant(2); // 8px
}

.container {
  padding: spacing-constant(2); // 8px
  @include respond-to(sm) {
    padding: spacing-constant(4); // 16px
  }
  @include respond-to(md) {
    padding: spacing-function(4); // 1rem
  }
  @include respond-to(lg) {
    padding: spacing-array(4); // 32px
  }
  @include respond-to(xl) {
    padding: spacing-array(5); // 64px
  }
}
