// _grid.scss

@import 'variables';
@import 'mixins';

.container {
  width: 100%;
  margin: 0 auto;
  padding: spacing-constant(2); // Adjust based on your spacing strategy

  @include respond-to(sm) {
    padding: spacing-constant(4);
  }

  @include respond-to(md) {
    padding: spacing-function(4);
  }

  @include respond-to(lg) {
    padding: spacing-array(4);
  }

  @include respond-to(xl) {
    padding: spacing-array(5);
  }
}

.row {
  @include make-row;
}

.col {
  @include make-gutter;
  box-sizing: border-box;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    @include make-col($i);
  }
}
