// main.scss

/* Basic reset and box-sizing */
* {
  margin: 0;
  // padding: 0;
  box-sizing: border-box;
}

@import "variables";
@import "mixins";
@import "global-theme";

@import "./index/index.scss";
@import "./image-gallery/image-gallery.scss";
@import "./about-me/about-me.scss";
@import "./contact/contact.scss";
@import "./impressum/impressum.scss";
@import "./agb/agb.scss";
@import "./test-gallery/test-gallery.scss";

/** -------------------------------------
 *  Global Styles
 * ------------------------------------- */

.container {
  display: grid;
  grid-template-rows: auto 2fr 1fr auto;
  min-height: 100vh;
  grid-template-areas:
    "header"
    "hero"
    "socials"
    "footer";
  align-items: center;
  justify-items: center;
  width: 100%;

  margin: 0 auto;
  padding: spacing-constant(1) spacing-constant(2) spacing-constant(1) spacing-constant(2);

  @include respond-to(sm) {
    padding: spacing-constant(2) spacing-constant(4) spacing-constant(2) spacing-constant(4);
  }

  @include respond-to(md) {
    padding: spacing-constant(6) spacing-constant(10) spacing-constant(2) spacing-constant(10);
  }

  @include respond-to(lg) {
    padding: spacing-constant(8) spacing-constant(12) spacing-constant(2) spacing-constant(12);
  }

  @include respond-to(xl) {
    padding: spacing-constant(8) spacing-constant(12) spacing-constant(2) spacing-constant(12);
  }
}

.container.three-area-grid-template {
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "hero"
    "footer";
}

/** -------------------------------------
 *  Header
 * ------------------------------------- */

.header {
  width: 100%;
  min-height: 300px;
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
  margin-bottom: 4rem;
}

.logo {
  height: 16rem;
  width: 12rem;

  @include respond-to(md) {
    height: 16rem;
    width: 12rem;
  }

  @include respond-to(xl) {
    height: 24rem;
    width: 18rem;
  }
}

.current-page {
  text-decoration: underline;
}

.logo-link {
  position: absolute;
  top: 5%;
  left: 5%;
  color: black;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4rem;
  flex-direction: column;

  @include respond-to(xl) {
    flex-direction: row;
  }
}

.nav-links {
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, auto);

  @include respond-to(lg) {
    grid-template-columns: repeat(4, auto);
  }

  justify-content: center;
  gap: 5vw;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-link.current-page {
  text-decoration: underline;
}

.nav-links a {
  text-decoration: none;
  transition: color 0.3s;
}

/** -------------------------------------
 *  Footer
 * ------------------------------------- */
.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 4rem 1rem 1rem 1rem;

  @include respond-to(sm) {
    gap: 2rem;
    padding: 4rem 1rem 1rem 1rem;
  }

  @include respond-to(md) {
    gap: 6rem;
    padding: 10rem 1rem 1rem 1rem;
  }

  @include respond-to(xxl) {
    margin-left: 18rem;
  }
}

.footer-link {
  text-decoration: none;
  color: black;
}

.footer-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.back-to-top-btn:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(181, 160, 255);
  align-items: center;
}

.back-to-top-btn:hover .svgIcon {
  /* width: 20px; */
  transition-duration: 0.3s;
  transform: translateY(-200%);
}

.back-to-top-btn::before {
  position: absolute;
  bottom: -20px;
  content: "Back to Top";
  color: white;
  /* transition-duration: .3s; */
  font-size: 0px;
}

.back-to-top-btn:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  /* transform: translateY(-30px); */
  transition-duration: 0.3s;
}