/* Basic reset and box-sizing */
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.87);
  background-color: #FEBCB0;
}
@media (min-width: 600px) {
  body {
    max-width: none;
  }
}
@media (min-width: 900px) {
  body {
    max-width: 1200px;
  }
}
@media (min-width: 1200px) {
  body {
    max-width: 1536px;
  }
}
@media (min-width: 1536px) {
  body {
    max-width: unset;
  }
}

h1 {
  line-height: 1.75;
  font-weight: 700;
}
@media (min-width: 600px) {
  h1 {
    font-size: 3.5rem;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 4rem;
  }
}
@media (min-width: 1536px) {
  h1 {
    font-size: 4.5rem;
  }
}

h2 {
  line-height: 1.75;
  font-weight: 300;
  text-transform: uppercase;
}
@media (min-width: 600px) {
  h2 {
    font-size: 2.5rem;
  }
}
@media (min-width: 1536px) {
  h2 {
    font-size: 3.5rem;
  }
}
@media (min-width: 2560px) {
  h2 {
    font-size: 4rem;
  }
}

h3 {
  line-height: 1.5;
  font-weight: 300;
  text-transform: uppercase;
}
@media (min-width: 600px) {
  h3 {
    font-size: 2.25rem;
  }
}
@media (min-width: 900px) {
  h3 {
    font-size: 2.5rem;
  }
}
@media (min-width: 1536px) {
  h3 {
    font-size: 3rem;
  }
}
@media (min-width: 2560px) {
  h3 {
    font-size: 3.5rem;
  }
}

p {
  line-height: 1.75;
  text-transform: uppercase;
}
@media (min-width: 600px) {
  p {
    font-size: 1rem;
  }
}
@media (min-width: 900px) {
  p {
    font-size: 1.3rem;
  }
}
@media (min-width: 1536px) {
  p {
    font-size: 1.5rem;
  }
}
@media (min-width: 2560px) {
  p {
    font-size: 1.75rem;
  }
}

button {
  min-width: 150px;
  max-width: 150px;
  border: 2px solid #FEBCB0;
  background-color: #000;
  color: white;
  border-radius: 0.9em;
  padding: 0.8em 1.2em 0.8em 1em;
  transition: all ease-in-out 0.2s;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: 400ms;
  outline: 3px #181717 solid;
  outline-offset: -3px;
  color: white;
}
@media (min-width: 1200px) {
  button {
    min-width: 200px;
  }
}
button:hover {
  color: black;
}
button span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
button:hover {
  background-color: transparent;
}

/* Styling for the hero section */
.hero {
  max-width: 340px;
  grid-area: hero;
  color: black;
  display: grid;
  place-items: center;
  text-align: center;
}
@media (min-width: 600px) {
  .hero {
    max-width: 540px;
  }
}
@media (min-width: 900px) {
  .hero {
    max-width: 720px;
  }
}
@media (min-width: 1200px) {
  .hero {
    max-width: 900px;
  }
}
@media (min-width: 1536px) {
  .hero {
    max-width: unset;
  }
}
@media (min-width: 2560px) {
  .hero {
    margin-left: 18rem;
  }
}

.hero-content {
  max-width: 900px;
}

.hero h2 {
  margin-bottom: 4rem;
}

.hero p {
  margin-bottom: 2rem;
}

.socials {
  grid-area: socials;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
}
@media (min-width: 600px) {
  .socials {
    gap: 3rem;
  }
}
@media (min-width: 1200px) {
  .socials {
    padding: 4rem 1rem 1rem 2rem;
    max-height: 200px;
    flex-direction: row;
    gap: 4rem;
  }
}
@media (min-width: 2560px) {
  .socials {
    gap: 8rem;
  }
}
@media (min-width: 2560px) {
  .socials {
    margin-left: 18rem;
  }
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 400ms;
  outline: 3px #181717 solid;
  outline-offset: -3px;
  min-width: 300px;
  border: 1px solid transparent;
}
@media (min-width: 900px) {
  .social {
    padding: 2rem;
  }
}
@media (min-width: 1200px) {
  .social {
    outline: 3px transparent solid;
  }
}
@media (min-width: 1536px) {
  .social {
    padding: 1.5rem;
  }
}
.social:hover {
  outline: 3px #181717 solid;
}

.social-link {
  color: black;
  text-decoration: none;
  transition: color 0.3s;
}

.image-gallery-container {
  /* background: url("../img/background.jpg") center/cover no-repeat; */
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  grid-template-areas: "header" "hero" "socials" "footer";
}

.image-gallery {
  margin-left: auto;
  margin-right: auto;
  gap: 0.25rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
@media (min-width: 600px) {
  .image-gallery {
    width: 90vw;
  }
}
@media (min-width: 900px) {
  .image-gallery {
    width: 80vw;
  }
}
@media (min-width: 1200px) {
  .image-gallery {
    width: 70vw;
  }
}
@media (min-width: 900px) {
  .image-gallery {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

.image-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.image {
  width: 300px;
  height: 300px;
}
@media (min-width: 600px) {
  .image {
    width: 400px;
    height: 400px;
  }
}

.image-gallery-container {
  padding-top: 128px;
}
@media (min-width: 600px) {
  .image-gallery-container {
    padding-top: 160px;
  }
}

.about-me-hero-title {
  display: block;
}

.about-me-hero-content {
  flex-direction: column;
  display: flex;
  align-items: center;
  /* breakpoint */
  max-width: 1200px;
}
@media (min-width: 1200px) {
  .about-me-hero-content {
    flex-direction: row;
  }
}

.about-me-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin-bottom: 2rem;
}
@media (min-width: 1200px) {
  .about-me-img {
    width: 50vw;
    margin-bottom: 0;
  }
}

.contact-container {
  width: 75%;
  max-width: 900px;
  margin: 80px auto;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 40px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 24px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.25rem;
}

input[type=text],
input[type=email],
textarea {
  padding: 16px;
  margin-top: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1.5rem;
  width: 100%;
}

button#submitButton {
  margin-top: 40px;
  padding: 24px;
  border: none;
  border-radius: 4px;
  background-color: #2e7d32;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}
button#submitButton:hover {
  background-color: #1b5e20;
}

.impressum {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 2rem;
}

.impressum-content {
  margin-top: 4rem;
  max-width: 1200px;
  text-align: left;
}

.agb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 2rem;
}
.agb h2 {
  text-decoration: underline;
}

.agb-content {
  margin-top: 4rem;
  max-width: 1200px;
  text-align: left;
}
.agb-content h3 {
  font-weight: 400;
  margin-bottom: 1rem;
}
.agb-content p {
  margin-bottom: 1rem;
}

/** -------------------------------------
 *  Global Styles
 * ------------------------------------- */
.container {
  display: grid;
  grid-template-rows: auto 2fr 1fr auto;
  min-height: 100vh;
  grid-template-areas: "header" "hero" "socials" "footer";
  align-items: center;
  justify-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 8px 16px 8px 16px;
}
@media (min-width: 600px) {
  .container {
    padding: 16px 32px 16px 32px;
  }
}
@media (min-width: 900px) {
  .container {
    padding: 48px 80px 16px 80px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 64px 96px 16px 96px;
  }
}
@media (min-width: 1536px) {
  .container {
    padding: 64px 96px 16px 96px;
  }
}

.container.three-area-grid-template {
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "hero" "footer";
}

/** -------------------------------------
 *  Header
 * ------------------------------------- */
.header {
  width: 100%;
  min-height: 300px;
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
  margin-bottom: 4rem;
}

.logo {
  height: 16rem;
  width: 12rem;
}
@media (min-width: 900px) {
  .logo {
    height: 16rem;
    width: 12rem;
  }
}
@media (min-width: 1536px) {
  .logo {
    height: 24rem;
    width: 18rem;
  }
}

.current-page {
  text-decoration: underline;
}

.logo-link {
  position: absolute;
  top: 5%;
  left: 5%;
  color: black;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4rem;
  flex-direction: column;
}
@media (min-width: 1536px) {
  .navbar {
    flex-direction: row;
  }
}

.nav-links {
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  gap: 5vw;
}
@media (min-width: 1200px) {
  .nav-links {
    grid-template-columns: repeat(4, auto);
  }
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-link.current-page {
  text-decoration: underline;
}

.nav-links a {
  text-decoration: none;
  transition: color 0.3s;
}

/** -------------------------------------
 *  Footer
 * ------------------------------------- */
.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 4rem 1rem 1rem 1rem;
}
@media (min-width: 600px) {
  .footer {
    gap: 2rem;
    padding: 4rem 1rem 1rem 1rem;
  }
}
@media (min-width: 900px) {
  .footer {
    gap: 6rem;
    padding: 10rem 1rem 1rem 1rem;
  }
}
@media (min-width: 2560px) {
  .footer {
    margin-left: 18rem;
  }
}

.footer-link {
  text-decoration: none;
  color: black;
}

.footer-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

/*# sourceMappingURL=main.css.map */
