.impressum {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 2rem;
}

.impressum-content {
  margin-top: 4rem;
  max-width: 1200px;
  text-align: left;
}
