// _grid.scss

@import "../variables";
@import "../mixins";

/* Styling for the hero section */
.hero {
  width: 100%;
  align-items: center;
  max-width: 300px;

  @include respond-to(sm) {
    max-width: unset;
  }

  grid-area: hero;
  color: black;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.hero-content {
  max-width: 900px;
}

.hero h2 {
  margin-bottom: 4rem;
}

.hero p {
  margin-bottom: 2rem;
}

.hero-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title-container h1 {
  font-weight: 400;
}

.hero-cards {
  display: flex;
  gap: 3rem;
  justify-content: center;

  flex-direction: column;

  @include respond-to(lg) {
    flex-direction: row;
  }

  @include respond-to(xl) {
    margin-top: 8rem;
    margin-bottom: 6rem;
  }

  margin-top: 4rem;
  margin-bottom: 3rem;
}

.socials {
  grid-area: socials;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: center;
  gap: 2rem;

  @include respond-to(sm) {
    gap: 3rem;
  }

  @include respond-to(lg) {
    padding: 4rem 1rem 1rem 2rem;
    max-height: 200px;
    flex-direction: row;
    gap: 4rem;
  }

  @include respond-to(xxl) {
    gap: 8rem;
  }

  @include respond-to(xxl) {
    // margin-left: 18rem;
  }
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 400ms;

  outline: 3px #181717 solid;

  outline-offset: -3px;
  min-width: 300px;

  @include respond-to(md) {
    padding: 2rem;
  }

  @include respond-to(lg) {
    outline: 3px transparent solid;
  }

  @include respond-to(xl) {
    padding: 1.5rem;
  }

  border: 1px solid transparent;

  &:hover {
    outline: 3px #181717 solid;
  }
}

.textblock-container {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  @include respond-to(lg) {
    max-width: 50%;
  }

  max-width: 75%;
  // margin-top: 4rem;
  // margin-left: 18rem;
}

.textblock-container h2 {
  font-weight: 500;
  text-decoration: underline;
}

.textblock-container h3 {
  font-weight: 300;
}

.social-link {
  color: black;
  text-decoration: none;
  transition: color 0.3s;
}

.card {
  @include respond-to(lg) {
    width: 320px;
  }

  @include respond-to(xl) {
    width: 400px;
  }

  width: 300px;
  height: 320px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
}

.card-details {
  color: black;
  height: 100%;
  gap: 0.5em;
  display: grid;
  place-content: center;
}

.card-details-icon {
  width: 32px;
  height: 32px;
}

.card-button {
  height: unset;
  transform: translate(-50%, 125%);
  text-transform: uppercase;
  width: 60%;
  border-radius: 1rem;
  border: none;

  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.text-body {
  color: rgb(134, 134, 134);
  text-transform: uppercase;
}

.text-title-container {
  display: flex;
  gap: 1.5rem;
}

/*Text*/
.text-title {
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

/*Hover*/
.card:hover {
  border-color: lightcoral;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
  &:hover {
    background-color: lightcoral;
    color: white;
  }
}
