// Import variables and mixins if needed
@import '../variables';
@import '../mixins';

.contact-container {
  width: 75%; // Reduce the width
  max-width: 900px; // Set a maximum width for better control
  margin: spacing-constant(10) auto; // Reduce margin
  padding: spacing-constant(5); // Reduce padding
  background-color: $color-background-paper; // Assuming you have a variable for background color
  box-shadow: 0 0 spacing-constant(2) rgba(0, 0, 0, 0.1); // Adjusted shadow
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: $color-text-primary; // Assuming you have a variable for text color
  margin-bottom: spacing-constant(5); // Add margin bottom
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: spacing-constant(3); // Adjust margin
  color: $color-text-secondary; // Assuming you have a variable for secondary text color
  font-size: $font-size-sm; // Adjusted font size
}

input[type="text"],
input[type="email"],
textarea {
  padding: spacing-constant(2); // Adjust padding
  margin-top: spacing-constant(2); // Adjust margin
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: $font-size-md; // Adjusted font size
  width: 100%;
}

button#submitButton {
  margin-top: spacing-constant(5); // Adjust margin
  padding: spacing-constant(3); // Adjust padding
  border: none;
  border-radius: 4px;
  background-color: $color-success-main; // Assuming you have a variable for success color
  color: #fff;
  font-size: $font-size-md; // Adjusted font size
  cursor: pointer;

  &:hover {
    background-color: $color-success-dark; // Assuming you have a variable for darker shade of success color
  }
}
